/* 　↓↓↓↓↓　　Mobile-Style　↓↓↓↓↓　*/

/* ----- Mobile AWARDS START LINE ----- */

.awards_title {
  width: 100%;
}

.awards_title_img {
  width: 100%;

  img {
    width: 100%;
    height: 100%;
  }
}

.awards_h2 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-top: 40px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-size: 20px;
    color: var(--primary-color);
  }
}

.awards_box {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 15px;
  padding-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
}

.awards_box_item {
  width: 100%;
  display: flex;

  img {
    width: 100%;
    height: 100%;
  }
}

.awards_box_item_txt {
  width: 100%;

  h3 {
    color: #e1e1e1;
    font-size: 18px;
    background-color: #012875;
    padding-left: 10px;
    padding-right: 10px;
  }

  p {
    color: #ddd;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.awards_box_item_awds {
  width: 100%;
  color: #e1e1e1;
  background-color: #090910;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: left;
  margin-bottom: 20px;
}

.awards_box_item_awdsname {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.awards_box_item_awds {
  h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #e1e1e1;
    background-color: #012875;
    padding-right: 10px;
    padding-left: 10px;
  }

  p {
    font-size: 15px;
    width: 60%;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 20px;
  }
}

.awards_bg {
  background: url('../assets/image/absolut_art_awards.jpg') no-repeat 50% 50%;
  background-size: 100%;

  /* background-attachment: fixed; */
  width: 100% 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.awards_bg_txt {
  width: 100%;
  max-width: 250px;
  padding: 20px;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  border: 1px solid #eee;

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }
}

/* awards card */

.awards_winner_flip {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: none;
}

.awards_winner_card {
  width: 70%;
  padding: 15px;

  img {
    width: 100%;
    height: 100%;
  }
}

.awards_mobile_img {
  width: 100%;
  height: 100%;
  display: flex;

  img {
    width: 100%;
    height: 100%;
    max-height: 600px;
  }
}

/* ----- Mobile AWARDS END LINE ----- */

/* ----- Web AWARDS START LINE ----- */

@media screen and (min-width: 768px) {
  .awards_title {
    max-height: 800px;
    overflow: hidden;
  }

  .awards_title_img img {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .awards_h2 h2 {
    font-size: 28px;
    color: var(--primary-color);
  }

  .awards_box_item {
    width: 50%;
    margin-left: 10px;
  }

  .awards_box_item_txt {
    width: 45%;
    margin-left: 10px;

    h3 {
      background-color: #012875;
      color: #e1e1e1;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 22px;
    }

    p {
      color: #ddd;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 19px;
    }
  }

  .awards_box_item_awdsname {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 40px;
  }

  .awards_box_item_awds {
    padding: 15px;
    margin: 15px;

    h3 {
      text-align: left;
      font-size: 22px;
      padding-right: 10px;
      padding-left: 10px;
    }

    p {
      width: 100%;
      font-size: 19px;
      padding-top: 20px;
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  .awards_bg {
    width: 100%;
    background-attachment: fixed;
    height: 650px;
  }

  .awards_bg_txt {
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 400px;

    h3 {
      font-size: 35px;
    }

    p {
      font-size: 28px;
    }
  }

  .awards_winner_flip {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;

    /* align-items: center; */
  }

  .awards_winner_card {
    width: 355px;
    height: 542px;
    cursor: pointer;
    position: relative;
  }

  .awards_winner_bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.6s linear;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .front {
    transform: perspective(600px) rotateY(0deg);
  }

  .back {
    transform: perspective(600px) rotateY(180deg);
  }

  /* back img */

  .A {
    background: url('../assets/image/awards_winner3.jpg') no-repeat 50% 50%;
    background-size: 100%;
  }

  .B {
    background: url('../assets/image/awards_winner1.jpg') no-repeat 50% 50%;
    background-size: cover;
  }

  .C {
    background: url('../assets/image/awards_winner2.jpg') no-repeat 50% 50%;
    background-size: 100%;
  }

  .D {
    background: url('../assets/image/awards_winner4.jpg') no-repeat 50% 50%;
    background-size: 100%;
  }

  .E {
    background: url('../assets/image/awards_winner6.jpg') no-repeat 50% 50%;
    background-size: cover;
  }

  .F {
    background: url('../assets/image/awards_winner5.jpg') no-repeat 50% 50%;
    background-size: cover;
  }

  /* txt color and fontSize */

  .ads_winner_txt {
    width: 100%;
    color: var(--primary-color);
    position: absolute;
    font-size: 35px;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);

    p {
      font-family: 'blacksword';
      padding-left: 10px;
      padding-right: 10px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      width: 135px;
      height: 1px;
      background-color: #fff;
      left: -40px;
      transform: rotate(45deg);
    }

    &::after {
      content: '';
      position: absolute;
      left: 300px;
      bottom: 500px;
      width: 110px;
      height: 1px;
      background-color: #fff;
      transform: rotate(45deg);
    }
  }

  /* Card lines */

  .back {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      width: 135px;
      height: 1px;
      background-color: #fff;
      left: -20px;
      transform: rotate(45deg);
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      left: 280px;
      bottom: 500px;
      width: 110px;
      height: 1px;
      background-color: #fff;
      transform: rotate(45deg);
    }
  }

  /* flip */

  .awards_winner_card:hover > {
    .front {
      transform: perspective(600px) rotateY(-180deg);
    }

    .back {
      transform: perspective(600px) rotateY(0deg);
    }
  }

  .awards_mobile_img {
    display: none;
  }
}

/* ----- Web AWARDS END LINE ----- */
