/* 　↓↓↓↓↓　　Mobile-Style　↓↓↓↓↓　*/

/* ----- Mobile PRODUCT START LINE ----- */

.product_web {
  display: none;
}

/* Js touch slider */

#section-slider {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 20px 0 0 0;
  margin-bottom: 30px;
}

#slider-container {
  position: relative;
}

#product_Js_touch {
  display: flex;
  width: 150px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.img-slider {
  width: 100%;
  flex: none;
  scroll-snap-align: start;
  padding-bottom: 5px;
  position: relative;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

/* x scroll bar */

#product_Js_touch {
  &::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
    visibility: hidden;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

#slider-container:hover #product_Js_touch::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* prev and next */

#prev,
#next {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.2s;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 14px 12px;
  border: none;
  color: #fff;
  border-radius: 50%;
}

#prev:hover,
#next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#prev:after,
#next:after {
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

#prev {
  left: -50px;

  &:after {
    transform: rotate(-135deg);
    margin-left: 4px;
  }
}

#next {
  right: -50px;

  &:after {
    transform: rotate(45deg);
    margin-right: 4px;
  }
}

/* product section */

.product_title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  position: relative;
}

.product_title_box {
  width: 100%;
}

.product_title_box_img {
  width: 100%;

  img {
    width: 100%;
    height: 100%;
  }
}

.product_title_wd {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.product_title_wd_txt {
  width: 55%;
  height: 150px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  /* border: 1px solid #e1e1e1; */
  color: #616161;
  background: linear-gradient(
    rgba(255, 255, 255, 0.8) 60%,
    rgba(159, 134, 128, 0.2) 150%
  );

  h3 {
    font-weight: 300;
  }

  h2 {
    font-size: 20px;
  }
}

.product_h3 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-top: 25px;

  h3 {
    color: var(--primary-color);
    font-size: 20px;
  }
}

.product_box {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.product_box_bottle {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.product_box_bottle_vodka {
  width: 50%;

  img {
    width: 100%;
    height: 100%;
  }
}

.product_box_bottle_txt {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;

  h3 {
    color: #e1e1e1;
    background-color: #012875;
    margin-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
  }

  p {
    color: #ddd;
    margin-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* product item touch */

#section_product {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 20px 0 30px 0;
  overflow: hidden;
}

#product_item {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

#product_item_bottle {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    opacity: 0;
  }
}

#product_item_bottle_img {
  width: 25%;
  max-width: 100px;
  min-height: 150px;
  flex: none;
  scroll-snap-align: start;
  padding-left: 15px;
  padding-right: 15px;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.web_section_product,
.product_web,
.product_box_bottle_vodka_big {
  display: none;
}

/* ----- Mobile PRODUCT END LINE ----- */

/* ----- Web PRODUCT START LINE ----- */
@media screen and (min-width: 768px) {
  .product_title_box_img {
    max-height: 800px;
    overflow: hidden;
  }

  .product_title_wd_txt {
    max-width: 800px;
    height: 300px;

    h3 {
      font-size: 22px;
    }

    h2 {
      font-size: 35px;
    }

    p {
      font-size: 19px;
    }
  }

  .product_h3 {
    padding-top: 80px;
    padding-bottom: 20px;

    h3 {
      color: var(--primary-color);
      font-size: 28px;
    }
  }

  #section-slider {
    display: none;
  }

  .product_web {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 15px;
  }

  .product_web_item {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .product_web_item_img {
    width: 25%;
    max-width: 150px;
    transform: scale(0.9);
    transition: 0.5s;

    &:hover {
      position: relative;
      transform: scale(1);
      transition: 0.5s;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .product_box {
    display: flex;
    align-items: flex-end;
    flex-flow: row wrap;
  }

  .product_box_bottle {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    position: relative;
  }

  .product_box_bottle_vodka {
    width: 150px;
    height: 450px;
    position: relative;
  }

  .product_box_bottle_vodka_big {
    width: 150px;
    height: 450px;
    display: none;
    overflow: hidden;
    border: 1px solid #999;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    left: 260px;
    top: 0;

    img {
      /* width: 100%; */
      height: 900px;
      top: 0;
      left: 0;
      position: absolute;
    }
  }

  .cover {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
  }

  .mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.5);
    display: none;
  }

  .product_box_bottle_txt {
    width: 50%;
    margin-left: 15px;

    h3 {
      color: var(--primary-color);
      font-size: 22px;
    }

    p {
      color: #e1e1e1;
      font-size: 19px;
      font-weight: 300;
    }
  }

  #section_product {
    display: none;
  }

  .web_section_product {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-flow: row;
  }

  .web_section_product_item {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .web_section_product_item_bottle {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    flex-flow: row;
  }

  .web_section_product_item_bottle_img {
    width: 25%;
    max-width: 100px;
    transform: scale(0.9);
    transition: 0.5s;

    p {
      color: #e1e1e1;
      font-size: 18px;
    }

    img {
      width: 100%;
      height: 100%;
    }

    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }
  }
}

/* -----Web PRODUCT END LINE ----- */
